:root {
    --button-border-radius: .8rem;
    --colour-success: #237b4b;
    --colour-primary: #0078d4;
    --colour-white: #ffffff;
    --colour-black: #000000;
    --colour-neutral-light: #efefef;
    --colour-grey-light: #dddddd;
    --colour-error: #bd1622;
    --colour-price-bg: #df7904;
}